body{
    background-image:url("https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/thumbimg_25361957thumbejpg.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.btn-danger:hover {
background-color: green;
}
canvas{
    animation-name:example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 40px yellow;}
    to{box-shadow:1px 1px 40px orange;}
}